html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  display: none;
}

div.clippy {
  -webkit-app-region: drag;
}
